annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.0
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
cffi==2.1.1
click==8.5.0
cmd2==4.2.3
fastapi==0.141.1
h11==0.16.0
idna==3.19
markdown-it-py==4.2.0
mdurl==0.1.2
Mypackage==0.1
prompt_toolkit==3.0.53
psycopg==3.3.5
pwdlib==0.3.1
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
PyJWT==2.13.0
pyperclip==1.11.0
python-multipart==0.0.32
rich==15.0.0
rich-argparse==1.8.0
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4
wcwidth==0.8.3
