.weight-input {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.reps-input {
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.add-set-btn {
    margin-right: 0.5vw;
}

.remove-set-btn {
    margin-right: 0.5vw;
}

.add-exercise-name,
.add-exercise-btn,
.add-exercise-sets
 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.finish-workout-btn {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

.delete-btn {
    margin-top: 3vh;
}


.exercise-scroll-container {
    height: calc(100vh - 120px);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.exercise-card,
.workout-control-card {
    height: calc(100vh - 120px);
    min-height: calc(100vh - 120px);

    box-sizing: border-box;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.exercise-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10vh;
}

.exercise-controls {
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    margin-top: 2vh;
}

.workout-control-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.add-exercise-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
}

.day-header {
    flex: 1;
    text-align: center;
}

.finish-workout-btn-header {
    position: absolute;
    right: 2vw;
    font-size: 8px;
    padding: 0.5vw 1vw;
}


@media (max-width: 457px) {
    .set-txt {
        display: block;
        margin-bottom: 1vh;
    }
    .prev-set-txt {
        display: block;
        margin-bottom: 1.5vh;
    }
    .weight-input {
        width: 42%;
    }
    .reps-input {
        width: 42%;
    }
}